<% content_for :title, "Editar Tweet" %>

<div class="container mt-4">
  <h1 class="mb-4">Editar Tweet</h1>

  <%= render "form", tweet: @tweet %>

  <br>

  <div>
    <%= link_to "Mostrar este tweet", @tweet, class: 'btn btn-dark' %> |
    <%= link_to "Volver a los tweets", tweets_path, class: 'btn btn-secondary' %>
  </div>
</div>

